extends layout

block content
    .header 
        a(href="/logout" class="text-center fixed-top bg-secondary text-light fw-bolder p-2 text-decoration-none fs-5") Log Out
    .welcome-box(class="container")
        h2(class="text-center mt-4") #{message}📚
        h3(class="text-center mt-4 fs-5 text-muted") Today's daily questions for you!
    .book-shelf(class="mt-5")
        <div class="table-responsive">
            <table class="table table-striped table-lg">
              <thead>
                <tr>
                  <th>Book No</th>
                  <th>Subject</th>
                  <th>Department</th>
                  <th>CA</th>
                  <th>Last Visited</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="fw-bolder">1</td>
                  <td>✅ English</td>
                  <td>All</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">2</td>
                  <td>✅ Economics</td>
                  <td>All</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">3</td>
                  <td>✅ Physics</td>
                  <td>Science</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">4</td>
                  <td>✅ Accounting</td>
                  <td>Commercial</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">5</td>
                  <td>✅ Biology</td>
                  <td>All</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">6</td>
                  <td>✅ Literature</td>
                  <td>Art</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">7</td>
                  <td>✅ Civic</td>
                  <td>All</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">8</td>
                  <td>✅ Chemistry</td>
                  <td>Science</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">9</td>
                  <td>✅ Agric_Science</td>
                  <td>All</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">10</td>
                  <td>✅ F_Mathematics</td>
                  <td>Science</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">11</td>
                  <td>✅ Geography</td>
                  <td>Science</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">12</td>
                  <td>✅ Computer</td>
                  <td>Science</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">13</td>
                  <td>✅ Commerce</td>
                  <td>Commercial</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">14</td>
                  <td>✅ C.R.S</td>
                  <td>All</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td> 
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
                <tr>
                  <td class="fw-bolder">15</td>
                  <td>✅ Current_Affairs</td>
                  <td>All</td>
                  <td>📊 <a href="/home/cont_assesment">take test</td>
                  <td class="fw-bolder">📅6-12-2022</td>
                </tr>
              </tbody>
            </table>